<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shorteningurl.repository.UrlRepository">
    <select id="getUrls" resultType="java.util.HashMap">
        SELECT id,longurl FROM url;
    </select>

    <update id="updateLongUrl" useGeneratedKeys="true" keyProperty="id" parameterType="String">
        INSERT INTO url (longurl) VALUE (#{longurl});
    </update>

    <select id="getUrlIdByLongUrl" resultType="Integer">
        SELECT id FROM url WHERE longurl = #{longurl};
    </select>

    <select id="getLongUrlById" resultType="String" parameterType="int">
        SELECT longurl FROM url WHERE id = #{id};
    </select>

</mapper>